<style style="display: none;">
	.navbar {
		background-color: #333;
		padding: 12px 0;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
	}

	.navbar a {
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		font-size: 20px;
	}

	.navbar a:hover {
		background-color: #555;
	}

	.search-container {
		display: flex;
		align-items: center;
	}

	.search-container input[type="text"],
	.search-container button {
		padding: 8px;
		margin: 4px 2px;
		border: none;
		border-radius: 4px;
	}

	.search-container input[type="text"] {
		flex-grow: 1;
	}

	.search-container button {
		background-color: #555;
		color: white;
		cursor: pointer;
	}

	.search-container button:hover {
		background-color: #666;
	}
</style>
{% if islogin %}
<div class="navbar">
	<a href="/">Home</a>
	<a href="/tayangan/">Daftar Tayangan</a>
	<a href="#daftar-kontributor">Daftar Kontributor</a>
	<a href="/daftar_favorit/">Kelola Daftar Favorit</a>
	<a href="/daftar_unduhan/">Kelola Daftar Unduhan</a>
	<a href="#langganan">Kelola Langganan</a>

	<form action="/logout/" method="post">
		<button type="submit">Logout</button>
	</form>

	<form class="search-container" action="/tayangan/" method="POST">
		<input type="text" placeholder="Search.." name="search">
		<button type="submit">Search</button>
	</form>
</div>
{% else %}
<div class="navbar">
	<a href="/">Home</a>
	<a href="/trailer/">Trailer</a>
	<form class="search-container" action="/tayangan/" method="POST">
		<input type="text" placeholder="Search.." name="search">
		<button type="submit">Search</button>
	</form>
	<a href="/login" style="float:right">Login</a>
</div>
{% endif %}