{% if islogin %}
<div class="navbar">
	<a href="#home">Home</a>
	<a href="#daftar-tayangan">Daftar Tayangan</a>
	<a href="#daftar-kontributor">Daftar Kontributor</a>
	<a href="#favorit">Kelola Daftar Favorit</a>
	<a href="#unduhan">Kelola Daftar Unduhan</a>
	<a href="#langganan">Kelola Langganan</a>
	<button onclick="logout()">Logout</button>
	<form class="search-container" action="/tayangan/" method="POST">
		<input type="text" placeholder="Search.." name="search">
		<button type="submit">Search</button>
	</form>
</div>
{% else %}
<div class="navbar">
	<a href="/">Home</a>
	<a href="/trailer/">Trailer</a>
	<div class="search-container">
		<input type="text" placeholder="Search.." name="search">
		<button type="submit">Search</button>
	</div>
	<a href="/login" style="float:right">Login</a>
</div>
{% endif %}